﻿<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Credinapoles</title>
        <meta charset="utf-8">
        <link rel="icon" href="Images/cn1.ico" type="image/x-icon">
        <link rel="shortcut icon" href="Images/cn1.ico" type="image/x-icon" />
        <meta name="description" content="Your description">
        <meta name="keywords" content="Your keywords">
        <meta name="author" content="Your name">
        <link rel="stylesheet" href="Content/bootstrap.css" type="text/css" media="screen">
        <link rel="stylesheet" href="Content/responsive.css" type="text/css" media="screen">
        <link rel="stylesheet" href="Content/style.css" type="text/css" media="screen">
        <link rel="stylesheet" href="Content/touchTouch.css" type="text/css" media="screen">
        <link rel="stylesheet" href="Content/kwicks-slider.css" type="text/css" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="Scripts/jquery.js"></script>
        <script type="text/javascript" src="Scripts/superfish.js"></script>
        <script type="text/javascript" src="Scripts/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="Scripts/jquery.kwicks-1.5.1.js"></script>
        <script type="text/javascript" src="Scripts/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="Scripts/touchTouch.jquery.js"></script>
        <script src="Scripts/forms.js"></script>
        <script type="text/javascript">if ($(window).width() > 1024) { document.write("<" + "script src='Scripts/jquery.preloader.js'></" + "script>"); }	</script>

        <script>
            jQuery(window).load(function () {
                $x = $(window).width();
                if ($x > 1024) {
                    jQuery("#content .row").preloader();
                }

                jQuery('.magnifier').touchTouch();
                jQuery('.spinner').animate({ 'opacity': 0 }, 1000, 'easeOutCubic', function () { jQuery(this).css('display', 'none') });
            });

        </script>
        <!--[if lt IE 8]>
        <div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>
    <![endif]-->
        <!--[if (gt IE 9)|!(IE)]><!-->
        <!--<![endif]-->
        <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    <![endif]-->

    </head>
    <body>
        <div class="spinner"></div> 
        <header>
            <div class="container clearfix">
                <div class="row">
                    <div class="span12">
                        <div class="navbar navbar_">
                            <div class="container">
                                <h1 class="brand brand_"><a href="~/"><img alt="" src="Images/credinapoles.gif"> </a></h1>
                                <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">Menu <span class="icon-bar"></span> </a>
                                <div class="nav-collapse nav-collapse_  collapse">
                                    <ul class="nav sf-menu">
                                        <li class="active"><a href="~/About">Inicio</a></li>
                                        <li><a href="~/Hombre">Caballeros</a></li>
                                        <li><a href="~/Dama">Dama</a></li>
                                        <li><a href="~/Niños">Niños</a></li>
                                        <li><a href="~/Reloj">Relojes</a></li>
                                        <li><a href="~/Perfumes">Perfumes</a></li>
                                        <li><a href="~/Contact">Contactos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
  <footer>
      <div class="container clearfix" >
          <ul class="list-social pull-right" >
              <li><a href="https://www.facebook.com/" target="_blank"><img alt="siguenos en facebook" height="32" src="http://2.bp.blogspot.com/-q_Tm1PpPfHo/UiXnJo5l-VI/AAAAAAAABzU/MKdrVYZjF0c/s1600/face.png" title="siguenos en facebook" width="32" /></a></li>
              <li><a href="https://plus.google.com/u/0/" target="_blank"><img alt="siguenos en Google+" height="32" src="http://3.bp.blogspot.com/-fnL839vxuao/UiXnFfyN17I/AAAAAAAABxc/VvcXJlZ65Ko/s1600/Google%252B+alt.png" title="siguenos en Google+" width="32" /></a></li>
              <li><a href="https://twitter.com/?lang=es" target="_blank"><img alt="siguenos en Twitter" height="32" src="http://3.bp.blogspot.com/-wlwaJJG-eOY/UiXnHS2jLsI/AAAAAAAAByQ/I2tLyZDLNL4/s1600/Twitter+NEW.png" title="siguenos en Twitter" width="32" /></a></li>
              <li><a href="https://instagram.com/" target="_blank"><img alt="sígueme en Instagram" height="32" src="http://1.bp.blogspot.com/-XzfTlSQVRyU/UiYMDc6J65I/AAAAAAAAB9E/mT46uPMTW6k/s1600/instagram.png" title="sígueme en Instagram" width="32" /></a>
</li>
          </ul>
      </div>
          <div class="privacy pull-left">
              Pagina web diseñada por: <br>Lina Maria Muñoz Figueroa <br>Leidy Tatiana Martinez Garcia <br>
              <br>Florencia-Caquetá <br>2015
          </div>
      <br />

</footer>

        <script type="text/javascript" src="Scripts/bootstrap.js"></script>
        @RenderSection("Scripts", required: false)
       

        
    </body>
</html>