﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

@section featured {
    
}

<body>
    <div class="spinner" style="background-color: #585858; "></div> 
    <div class="bg-content" style="background-color: #585858; ">
        <div class="container" style="background-color: #585858; ">

            <div class="row">

                <div class="span12">
                    <!--============================== slider =================================-->
                    <div class="flexslider">
                        <div class="flexslider">
                            <ul class="slides">
                                <li> <img src="Images/1kosta.jpg" alt=""> </li>
                                <li> <img src="Images/1aritex.jpg" alt=""> </li>
                                <li> <img src="Images/1marro.jpg" alt=""> </li>
                                <li> <img src="Images/1perfumes1.jpg" alt=""> </li>
                                <li> <img src="Images/1reloj.jpg" alt=""> </li>
                            </ul>
                        </div>
                    </div>
                    <span id="responsiveFlag"></span>
                    <div class="block-slogan">
                        <h2>BIENVENIDOS!</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="content" class="content-extra">
        <!--============================== content =================================-->
       
        <div class="row-1">
            <div class="container">
                <div class="row">
                    <ul class="thumbnails thumbnails-1">
                        <li class="span3">
                            <div class="thumbnail thumbnail-1">
                                <h3>"212 VIP BY:Carolina Herrera"</h3>
                                <img src="Images/212p.jpg" alt="">

                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail thumbnail-1">
                                <h3>Sensualidad con VANESSA</h3>
                                <img src="Images/vane.jpg" alt="">

                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail thumbnail-1">
                                <h3>D'Mario El Reloj Suizo a Su Alcance</h3>
                                <img src="Images/mario.jpg" alt="">

                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail thumbnail-1">
                                <h3 class="title-1 extra">Elegancia de Kosta Azul</h3>
                                <img src="Images/kaa.jpg" alt="">

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <article class="span6">
                    <h3>Sobre nosotros</h3>
                    <div class="wrapper">
                        <figure class="img-indent"><img src="Images/credinapoles2.jpg " alt="" /></figure>
                        <div class="inner-1 overflow extra">

                            CREDINAPOLES CN, ofrece credito personal y por libranza a todo el magisterio...
                            En principales marcas en ropa como: Kosta Azul, Jhon Paolo, Omce Leven, Vanessa...
                            Toda la gama de perfumes: 212, Versace, Carolina Herrera, One Millon, Paris Hilton, Hugo Boss, entre otros...
                            <div class="border-horiz"></div>

                        </div>
                    </div>
                </article>
                <article class="span6">
                    <h3>Lista de Articulo</h3>
                    <ul class="list-photo">
                        <li><a href="Images/p0p1.jpg" class="magnifier"><img src="Images/p0i1.jpg " alt="" /></a></li>
                        <li><a href="Images/p0p2.jpg" class="magnifier"><img src="Images/p0i2.jpg " alt="" /></a></li>
                        <li><a href="Images/p0p3.jpg" class="magnifier"><img src="Images/p0i3.jpg " alt="" /></a></li>
                        <li class="last"><a href="Images/p0p4.jpg" class="magnifier"><img src="Images/p0i4.jpg " alt="" /></a></li>
                        <li><a href="Images/p0p5.jpg" class="magnifier"><img src="Images/p0i5.jpg " alt="" /></a></li>
                        <li><a href="Images/p0p6.jpg" class="magnifier"><img src="Images/p0i6.jpg " alt="" /></a></li>
                        <li><a href="Images/p0p7.jpg" class="magnifier"><img src="Images/p0i7.JPG " alt="" /></a></li>
                        <li class="last"><a href="Images/p0p8.jpg" class="magnifier"><img src="Images/p0i8.jpg " alt="" /></a></li>
                        <li><a href="Images/p0p9.jpg" class="magnifier"><img src="Images/p0i9.jpg " alt="" /></a></li>
                        <li><a href="Images/p0p10.jpg" class="magnifier"><img src="Images/p0i10.jpg " alt="" /></a></li>
                        <li><a href="Images/p0p11.jpg" class="magnifier"><img src="Images/p0i11.jpg " alt="" /></a></li>
                        <li class="last"><a href="Images/p0p12.jpg" class="magnifier"><img src="Images/p0i12.jpg " alt="" /></a></li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</body>
     