﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}
@section featured {

}


<div class="bg-content" style="background-color: #585858; ">
    <!--============================== content =================================-->


    <div class="container" style="background-color: #585858; ">
        <div class="row">
            <article class="span8">
                <h3>Contactenos</h3>
                <div class="inner-1">
                    <form id="contact-form">
                        <div class="success"> Contact form submitted! <strong>We will be in touch soon.</strong> </div>
                        <fieldset>
                            <div>
                                <label class="nombre">
                                    <input type="text" value="Su Nombre">
                                    <br>
                                    <span class="error">*Esto no es un nombre válido.</span> <span class="empty">*Este campo es requerido.</span>
                                </label>
                            </div>
                            <div>
                                <label class="Telefono">
                                    <input type="tel" value="Telefono">
                                    <br>
                                    <span class="error">*Este no es un número de teléfono válido.</span> <span class="empty">*Este campo es obligatorio.</span>
                                </label>
                            </div>
                            <div>
                                <label class="Correo Electronico">
                                    <input type="email" value="Correo Electronico">
                                    <br>
                                    <span class="error">*Esto no es una dirección de correo electrónico válida.</span> <span class="empty">*Este campo es obligatorio.</span>
                                </label>
                            </div>
                            <div>
                                <label class="message">
                                    <textarea>Mensaje</textarea>
                                    <br>
                                    <span class="error">*Este mensaje es demaciado corto.</span> <span class="empty">*Este campo es obligatorio.</span>
                                </label>
                            </div>
                            <div class="buttons-wrapper"> <a class="btn btn-1" data-type="reset">Borrar</a> <a class="btn btn-1" data-type="submit">Enviar</a></div>
                        </fieldset>
                    </form>
                </div>
            </article>
            <article class="span4">
                <h3>Información de Contacto</h3>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d897.3567593077847!2d-75.6151445590505!3d1.6140105752080693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e244e05ff4f5049%3A0x2662623189da7bec!2sCl.+14+%2313-64%2C+Florencia%2C+Caquet%C3%A1%2C+Colombia!5e1!3m2!1ses-419!2sit!4v1438040014531" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <address class="address-1">

                    <div class="overflow">
                        <span>Celular</span>310-862-1119<br>
                        <span>Telefono:</span>038-434-1203<br>
                        <span>Coreo:</span> <a href="#" class="mail-1">credinapoles-cn@hotmail.com</a><br>
                        @*<span>Skype:</span> <a href="#" class="mail-1">@skypename</a>*@
                    </div>
                </address>
            </article>
        </div>
    </div>
</div>
</div>