﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}
@section featured {

}



<div class="bg-content" style="background-color: #585858; ">
    <!--============================== content =================================-->
    <div id="content">
        @*<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>*@
        <div class="container">
            <div class="row">
                <article class="span12">
                    <h3>Catalogo Dama</h3>
                </article>
                <div class="clear"></div>
                <ul class="portfolio clearfix">
                    <li class="box"><a href="Images/p3d1.jpg" class="magnifier"><img alt="" src="Images/p3d1.jpg"></a></li>
                    <li class="box"><a href="Images/p3d2.jpg" class="magnifier"><img alt="" src="Images/p3d2.jpg"></a></li>
                    <li class="box"><a href="Images/p3d3.jpg" class="magnifier"><img alt="" src="Images/p3d3.jpg"></a></li>
                    <li class="box"><a href="Images/p3d4.jpg" class="magnifier"><img alt="" src="Images/p3d4.jpg"></a></li>
                    <li class="box"><a href="Images/p3d5.jpg" class="magnifier"><img alt="" src="Images/p3d5.jpg"></a></li>
                    <li class="box"><a href="Images/p3d6.jpg" class="magnifier"><img alt="" src="Images/p3d6.jpg"></a></li>
                    <li class="box"><a href="Images/p3d7.jpg" class="magnifier"><img alt="" src="Images/p3d7.jpg"></a></li>
                    <li class="box"><a href="Images/p3d8.jpg" class="magnifier"><img alt="" src="Images/p3d8.jpg"></a></li>
                    <li class="box"><a href="Images/p3d9.jpg" class="magnifier"><img alt="" src="Images/p3d9.jpg"></a></li>
                    <li class="box"><a href="Images/p3d10.jpg" class="magnifier"><img alt="" src="Images/p3d10.jpg"></a></li>
                    <li class="box"><a href="Images/p3d11.jpg" class="magnifier"><img alt="" src="Images/p3d11.jpg"></a></li>
                    <li class="box"><a href="Images/p3d12.jpg" class="magnifier"><img alt="" src="Images/p3d12.jpg"></a></li>
                    <li class="box"><a href="Images/p3d13.jpg" class="magnifier"><img alt="" src="Images/p3d13.jpg"></a></li>
                    <li class="box"><a href="Images/p3d14.jpg" class="magnifier"><img alt="" src="Images/p3d14.jpg"></a></li>
                    <li class="box"><a href="Images/p3d15.jpg" class="magnifier"><img alt="" src="Images/p3d15.jpg"></a></li>
                    <li class="box"><a href="Images/p3d25.jpg" class="magnifier"><img alt="" src="Images/p3d25.jpg"></a></li>
                    <li class="box"><a href="Images/p3d26.jpg" class="magnifier"><img alt="" src="Images/p3d26.jpg"></a></li>
                    <li class="box"><a href="Images/p3d27.jpg" class="magnifier"><img alt="" src="Images/p3d27.jpg"></a></li>
                    <li class="box"><a href="Images/p3d28.jpg" class="magnifier"><img alt="" src="Images/p3d28.jpg"></a></li>
                    <li class="box"><a href="Images/p3d29.jpg" class="magnifier"><img alt="" src="Images/p3d29.jpg"></a></li>
                    <li class="box"><a href="Images/p3d30.jpg" class="magnifier"><img alt="" src="Images/p3d30.jpg"></a></li>
                    <li class="box"><a href="Images/p3d31.jpg" class="magnifier"><img alt="" src="Images/p3d31.jpg"></a></li>
                    <li class="box"><a href="Images/p3d32.jpg" class="magnifier"><img alt="" src="Images/p3d32.jpg"></a></li>
                    <li class="box"><a href="Images/p3d33.jpg" class="magnifier"><img alt="" src="Images/p3d33.jpg"></a></li>
                    <li class="box"><a href="Images/p3d34.jpg" class="magnifier"><img alt="" src="Images/p3d34.jpg"></a></li>
                    <li class="box"><a href="Images/p3d35.jpg" class="magnifier"><img alt="" src="Images/p3d35.jpg"></a></li>
                    <li class="box"><a href="Images/p3d36.jpg" class="magnifier"><img alt="" src="Images/p3d36.jpg"></a></li>
                    <li class="box"><a href="Images/p3d37.jpg" class="magnifier"><img alt="" src="Images/p3d37.jpg"></a></li>
                    <li class="box"><a href="Images/p3d38.jpg" class="magnifier"><img alt="" src="Images/p3d38.jpg"></a></li>

                </ul>
            </div>
        </div>
    </div>
</div>