﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}
@section featured {

}


<div class="bg-content" style="background-color: #585858; ">
    <!--============================== content =================================-->
    <div id="content">
        @*<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>*@
        <div class="container">
            <div class="row">
                <article class="span12">
                    <h3>Catalogo Niños</h3>
                </article>
                <div class="clear"></div>
                <ul class="portfolio clearfix">
                    <li class="box"><a href="Images/p6n1.jpg" class="magnifier"><img alt="" src="Images/p6n1.jpg"></a></li>
                    <li class="box"><a href="Images/p6n2.jpg" class="magnifier"><img alt="" src="Images/p6n2.jpg"></a></li>
                    <li class="box"><a href="Images/p6n3.jpg" class="magnifier"><img alt="" src="Images/p6n3.jpg"></a></li>
                    <li class="box"><a href="Images/p6n4.jpg" class="magnifier"><img alt="" src="Images/p6n4.jpg"></a></li>
                    <li class="box"><a href="Images/p6n5.jpg" class="magnifier"><img alt="" src="Images/p6n5.jpg"></a></li>
                    <li class="box"><a href="Images/p6n6.jpg" class="magnifier"><img alt="" src="Images/p6n6.jpg"></a></li>
                    <li class="box"><a href="Images/p6n7.jpg" class="magnifier"><img alt="" src="Images/p6n7.jpg"></a></li>
                    <li class="box"><a href="Images/p6n8.jpg" class="magnifier"><img alt="" src="Images/p6n8.jpg"></a></li>
                    <li class="box"><a href="Images/p6n9.jpg" class="magnifier"><img alt="" src="Images/p6n9.jpg"></a></li>
                    <li class="box"><a href="Images/p6n10.jpg" class="magnifier"><img alt="" src="Images/p6n10.jpg"></a></li>
                    <li class="box"><a href="Images/p6n11.jpg" class="magnifier"><img alt="" src="Images/p6n11.jpg"></a></li>
                    <li class="box"><a href="Images/p6n12.jpg" class="magnifier"><img alt="" src="Images/p6n12.jpg"></a></li>
                    <li class="box"><a href="Images/p6n13.jpg" class="magnifier"><img alt="" src="Images/p6n13.jpg"></a></li>
                    <li class="box"><a href="Images/p6n14.jpg" class="magnifier"><img alt="" src="Images/p6n14.jpg"></a></li>
                    <li class="box"><a href="Images/p6n15.jpg" class="magnifier"><img alt="" src="Images/p6n15.jpg"></a></li>
                    <li class="box"><a href="Images/p6n16.jpg" class="magnifier"><img alt="" src="Images/p6n16.jpg"></a></li>
                    <li class="box"><a href="Images/p6n17.jpg" class="magnifier"><img alt="" src="Images/p6n17.jpg"></a></li>
                    <li class="box"><a href="Images/p6n19.jpg" class="magnifier"><img alt="" src="Images/p6n19.jpg"></a></li>
                    <li class="box"><a href="Images/p6n20.jpg" class="magnifier"><img alt="" src="Images/p6n20.jpg"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>