﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}
@section featured {

}



<div class="bg-content" style="background-color: #585858; ">
    <!--============================== content =================================-->
    <div id="content">
        @*<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>*@
        <div class="container">
            <div class="row">
                <article class="span12">
                    <h3>Catalogo perfumes</h3>
                </article>
                <div class="clear"></div>
                <ul class="portfolio clearfix">
                    <li class="box"><a href="Images/p5p1.jpg" class="magnifier"><img alt="" src="Images/p5p1.jpg"></a></li>
                    <li class="box"><a href="Images/p5p2.jpg" class="magnifier"><img alt="" src="Images/p5p2.jpg"></a></li>
                    <li class="box"><a href="Images/p5p3.jpg" class="magnifier"><img alt="" src="Images/p5p3.jpg"></a></li>
                    <li class="box"><a href="Images/p5p4.jpg" class="magnifier"><img alt="" src="Images/p5p4.jpg"></a></li>
                    <li class="box"><a href="Images/p5p5.jpg" class="magnifier"><img alt="" src="Images/p5p5.jpg"></a></li>
                    <li class="box"><a href="Images/p5p6.jpg" class="magnifier"><img alt="" src="Images/p5p6.jpg"></a></li>
                    <li class="box"><a href="Images/p5p7.jpg" class="magnifier"><img alt="" src="Images/p5p7.jpg"></a></li>
                    <li class="box"><a href="Images/p5p8.jpg" class="magnifier"><img alt="" src="Images/p5p8.jpg"></a></li>
                    <li class="box"><a href="Images/p5p9.jpg" class="magnifier"><img alt="" src="Images/p5p9.jpg"></a></li>
                    <li class="box"><a href="Images/p5p10.jpg" class="magnifier"><img alt="" src="Images/p5p10.jpg"></a></li>
                    <li class="box"><a href="Images/p5p11.jpg" class="magnifier"><img alt="" src="Images/p5p11.jpg"></a></li>
                    <li class="box"><a href="Images/p5p12.jpg" class="magnifier"><img alt="" src="Images/p5p12.jpg"></a></li>
                    <li class="box"><a href="Images/p5p13.jpg" class="magnifier"><img alt="" src="Images/p5p13.jpg"></a></li>
                    <li class="box"><a href="Images/p5p14.jpg" class="magnifier"><img alt="" src="Images/p5p14.jpg"></a></li>
                    <li class="box"><a href="Images/p5p15.jpg" class="magnifier"><img alt="" src="Images/p5p15.jpg"></a></li>
                    <li class="box"><a href="Images/p5p16.jpg" class="magnifier"><img alt="" src="Images/p5p16.jpg"></a></li>
                    <li class="box"><a href="Images/p5p17.jpg" class="magnifier"><img alt="" src="Images/p5p17.jpg"></a></li>
                    <li class="box"><a href="Images/p5p18.jpg" class="magnifier"><img alt="" src="Images/p5p18.jpg"></a></li>
                    <li class="box"><a href="Images/p5p19.jpg" class="magnifier"><img alt="" src="Images/p5p19.jpg"></a></li>
                    <li class="box"><a href="Images/p5p20.jpg" class="magnifier"><img alt="" src="Images/p5p20.jpg"></a></li>
                    <li class="box"><a href="Images/p5p21.jpg" class="magnifier"><img alt="" src="Images/p5p21.jpg"></a></li>
                    <li class="box"><a href="Images/p5p22.jpg" class="magnifier"><img alt="" src="Images/p5p22.jpg"></a></li>
                    <li class="box"><a href="Images/p5p23.jpg" class="magnifier"><img alt="" src="Images/p5p23.jpg"></a></li>


                </ul>
            </div>
        </div>
    </div>
</div>